Functions/__pycache__/
Functions/Scrape_Functions/__pycache__/
.ipynb_checkpoints/
Escudos - Brasfoot/
Escudos - Serie A/
Escudos - old/
Testes.ipynb
Serie A-B 2021 - generate video - with tests.ipynb